@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@font-face {
  font-family: "myFonts";
  src: url("./assets/Kabrio-Abarth-Regular-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* custom colors  */
.custom-bg {
  background-color: #ef6c35;
}

.custom-color {
  color: #ef6c35;
}

.custom-hero-bg {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ef6c35+48,f79621+71 */
  background: linear-gradient(
    to right,
    rgba(239, 108, 53, 1) 48%,
    rgba(247, 150, 33, 1) 71%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.custom-hero-secondary-bg {
  background-image: linear-gradient(
    90deg,
    hsl(18deg 29% 7%) 0%,
    hsl(23deg 28% 7%) 5%,
    hsl(29deg 26% 7%) 10%,
    hsl(34deg 25% 7%) 14%,
    hsl(41deg 23% 7%) 19%,
    hsl(48deg 22% 7%) 24%,
    hsl(56deg 20% 7%) 29%,
    hsl(65deg 20% 7%) 33%,
    hsl(73deg 21% 7%) 38%,
    hsl(80deg 22% 7%) 43%,
    hsl(86deg 22% 7%) 48%,
    hsl(92deg 23% 7%) 52%,
    hsl(97deg 24% 7%) 57%,
    hsl(101deg 24% 8%) 62%,
    hsl(106deg 25% 8%) 67%,
    hsl(110deg 25% 8%) 71%,
    hsl(114deg 26% 8%) 76%,
    hsl(117deg 26% 8%) 81%,
    hsl(120deg 27% 8%) 86%,
    hsl(124deg 29% 8%) 90%,
    hsl(126deg 31% 8%) 95%,
    hsl(129deg 33% 8%) 100%
  );
}

.custom-main-bg {
  background-color: #000;
}

.custom-secondary-bg {
  background-color: #1f2125;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
/* custom height  */
.custom-height {
  height: 100%;
  min-height: 90vh;
}

/* custom fonts */
.custom-font {
  font-family: "myFonts";
}

.custom-font2 {
  font-family: "Nunito Sans", sans-serif;
}

/* button design */
.button {
  --color: #ef6c35;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid var(--color);
  font-family: inherit;
  text-transform: uppercase;
  z-index: 1;
  color: white;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
  border: 1px solid var(--color);
}

.button:active {
  border: 1px solid var(--color);
  filter: brightness(0.8);
}

@media (max-width: 600px) {
  .button {
    font-size: 13px;
  }
  .button::after {
    top: calc(100% + 2em);
  }
  .button::before {
    top: -1.5em;
    left: -1em;
  }
}

/* Search Bar  */
.group {
  display: flex;
  line-height: 25px;
  align-items: center;
  position: relative;
}

.input {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 40px;
  padding-left: 2.5rem;
  padding-right: 0.5rem;
  border: 0;
  border-radius: 2px;
  background-color: #1f2125;
  outline: none;
  color: #bdbecb;
  transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
  cursor: text;
  z-index: 0;
}

.input::placeholder {
  color: #bdbecb;
}

.input:hover {
  box-shadow: 0 0 0 2.5px #1f2125, 0px 0px 25px -15px #000;
}

.input:active {
  box-shadow: 0 0 0 2.5px #1f2125, 0px 0px 25px -15px #000;
}

.input:focus {
  box-shadow: 0 0 0 2.5px #1f2125;
}

.search-icon {
  position: absolute;
  left: 1rem;
  fill: #bdbecb;
  width: 1rem;
  height: 1rem;
  z-index: 5;
}
/* End Search Bar  */

.css-19kzrtu {
  padding: 24px 8px !important;
}
