@font-face {
  font-family: "myFonts";
  src: url("./assets/Kabrio-Abarth-Regular-trial.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* custom colors  */
.custom-bg {
  background-color: #e8eaa1;
}

.custom-color {
  color: #e8eaa1;
}

.custom-main-bg {
  background-image: linear-gradient(
    330deg,
    hsl(62deg 36% 60%) 0%,
    hsl(62deg 26% 53%) -1%,
    hsl(61deg 23% 46%) -1%,
    hsl(61deg 22% 39%) -1%,
    hsl(61deg 22% 33%) -1%,
    hsl(61deg 21% 26%) -1%,
    hsl(60deg 19% 20%) 0%,
    hsl(60deg 17% 14%) 2%,
    hsl(57deg 15% 8%) 8%,
    hsl(0deg 0% 0%) 30%
  );
}

/* custom height  */
.custom-height {
  height: 100%;
  min-height: 90vh;
}

/* custom fonts */
.custom-font {
  font-family: "myFonts";
}

/* button design */
.button {
  --color: #e8eaa1;
  padding: 0.5em 1.5em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 15px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}
